{% extends "base.html" %}
{% import "macros/forms.html" as macro %}

{% block content %}
<div class="page-header">
    <h1>Kirjaudu sisään</h1>
</div>

{% if error %}
<p>{{error}}</p>
{% endif %}

{% if viesti %}
<div class="lead"><font color="red">{{viesti}}</font></div>
{% endif %}

<form method="post" action="{{base_path}}/kirjaudu">
    <div>
        {{macro.linkki_nappi("#{base_path}/etusivu", "Etusivulle")}}
        {{macro.submit_nappi("Kirjaudu")}}
    </div>

    <p></p>

    {{macro.tekstirivi("nimi", "", "Käyttäjä")}}

    <div>
        <label>Salasana</label>
        <input name="salasana" class="form-control" type="password" id="dark-form">
    </div>
</form>
{% endblock %}
