
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        {% macro esimerkki_makro() %}
        <!-- Tänne tulee HTML koodia -->
        {% endmacro %}

        <!-- 
        Esimerkki tekstirivi ja tekstikenttä huom. vaatii <form method="post"...
        
        <form method="post" action="{{base_path}}/muistutus">
        <div class="form group">
        <label>Kategoria</label>
        <input name="kategoria" class="form-control" value="{{atribuutit.kategoria}}" type="text" id="dark-form">
        </div>
        </form>
        -->

        {% macro tekstirivi(name, value, label) %}
        <div>
            <label>{{label}}</label>
            <input name="{{name}}" class="form-control" value="{{value}}" type="text" id="dark-form">
        </div>
        {% endmacro %}


        {% macro tekstikentta(name, value, label) %}
        <div>
            <label>{{label}}</label>
            <textarea name="{{name}}" class="form-control" id="dark-form">{{value}}</textarea>
        </div>
        {% endmacro %}


        <!-- submit vaatii ympärilleen <form method="post"... -->
        {% macro submit_nappi(teksti) %}
        <button type="submit" class="btn custom-button">{{teksti}}</button>
        {% endmacro %}

        {% macro linkki_nappi(osoite, teksti) %}
        <a href="{{osoite}}" class="btn custom-button">{{teksti}}</a>
        {% endmacro %}

    </body>
</html>
