{% extends "base.html" %}
{% import "macros/forms.html" as macro %}

{% block content %}
<div class="page-header">
    <h1>Muistutuksesi</h1>
</div>

<p>
    <a href="{{base_path}}/muistutus/uusi" class="btn custom-button">Uusi muistutus</a>
</p>

<table class="table">
    <thread>
        <tr>
            <th>Prioriteetti</th>
            <th>Kategoria</th>
            <th>Info</th>
            <th>Valmis?</th>
            <th>Avaa</th>
            <th>Muokkaa</th>
            <th>Poista</th>
        </tr>
    </thread>

    <tbody>
        {% for muistutus in muistutukset %}
        <tr>
            <td>{{muistutus.prioriteetti}}</td> 
            <td>{{muistutus.kategoria}}</td>
            <td>{{muistutus.info}}</td>

            {% if muistutus.suoritettu %}
            <td><label class="label label-success">Kyllä</td>
            {% else %}
            <td><label class="label label-danger">Ei</td>
            {% endif %}

            <!--LISÄÄ LINKIT JOHTAMAAN OIKEISIIN INDEXEIHIN -->
            <th><a class="btn custom-button" href="{{base_path}}/muistutus/{{muistutus.mid}}">Avaa</a></th>
            <th><a class="btn custom-button" href="{{base_path}}/muistutus/{{muistutus.mid}}/muokkaa">Muokkaa</a></th>

            <td>
                <form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/poista">
                    {{macro.poista_nappi()}}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
