{% extends "base.html" %}
{% import "macros/forms.html" as macro %}

{% block content %}
<div class="page-header">
    <h1>Muistutuksesi</h1>
</div>

<p>
    {{macro.linkki_nappi("#{base_path}/muistutus/uusi", "Uusi muistutus")}}
</p>

<table class="table">
    <thread>
        <tr>
            <th>Prioriteetti</th>
            <th>Kategoria</th>
            <th>Info</th>
            <th>Valmis?</th>
            <th>Avaa</th>
            <th>Poista</th>
        </tr>
    </thread>

    <tbody>
        {% for muistutus in muistutukset %}
        <tr>
            <td>{{muistutus.prioriteetti}}</td> 
            <td>{{muistutus.kategoria}}</td>
            <td>{{muistutus.info}}</td>

            {% if muistutus.suoritettu %}    
            <td>
                <form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/suorita">
                    <button type="submit" class="btn btn-success btn-sm">Suoritettu</button>
                </form>
            </td>
            {% else %}            
            <td>
                <form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/suorita">
                    <button type="submit" class="btn btn-danger btn-sm">Kesken</button>
                </form></td>
            {% endif %}


            <td>{{macro.linkki_nappi("#{base_path}/muistutus/#{muistutus.mid}", "Avaa")}}</td>

            <td>
                <form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/poista">
                    {{macro.submit_nappi("Poista")}}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
