{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Lisää</h1>
</div>


<form method="post" action="{{base_path}}/muistutus">
    <div class="form group">
        <a href="{{base_path}}/muistutuslista" class="btn custom-button">Listaan</a>
        <button type="submit" class="btn custom-button">Tallenna</button>
        <p></p>
    </div>

    <div class="form group">
        <label>Prioriteetti</label>
        <input type="number" name="prioriteetti" min="1" max="5" style="color: #000; background: #333; border: #000; border-radius: 12px; width: 50px">
    </div>

    <div class="form group">
        <label>Kategoria</label>
        <input name="kategoria" class="form-control" value="" type="text" style="color: #000; background: #333; border: #000">
    </div>

    <div class="form group">
        <label>Info</label>
        <input name="info" class="form-control" value="" type="text" style="color: #000; background: #333; border: #000">
    </div>

    <div class="form group">
        <label>Muistutus</label>
        <textarea name="muistutus" class="form-control" style="color: #000; background: #333; border: #000"></textarea>
    </div>


</form>
{% endblock %}
