{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Muistutus</h1>
</div>

<p>
    <!-- MUOKKAA JA POISTA TOIMINNOT PUUTTUVAT -->
    <a href="{{base_path}}/muistutuslista" class="btn custom-button">Listaan</a>
    <a href="http://tsoha.github.io" class="btn custom-button">Muokkaa</a>
    <a href="{{base_path}}/muistutuslista" class="btn custom-button">Poista</a>
</p>

<ul>
    <li>{{muistutus.prioriteetti}}</li>
    <li>{{muistutus.kategoria}}</li>
    <li>{{muistutus.info}}</li>

    {% if muistutus.suoritettu %}
    <li>Valmis</li>
    {% else %}
    <li>Kesken</li>
    {% endif %}


</ul>

<p>
    {{muistutus.muistutus}}
</p>

<!-- LISÄÄ LINKIT TÄNNE? -->

{% endblock %}
