{% extends "base.html" %}
{% import "macros/forms.html" as macro %}

{% block content %}
<div class="page-header">
    <h1>Muistutus</h1>
</div>

{% if viesti %}
{{viesti}}
<p></p>
{% endif %}

<form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/poista">
    {{macro.linkki_nappi("#{base_path}/muistutus/#{muistutus.mid}/muokkaa", "Muokkaa")}}

    {% if not linkit %}
    {{macro.linkki_nappi("#{base_path}/muistutus/#{muistutus.mid}/lisaalinkki", "Uusi linkki")}}
    {% endif %}

    {{macro.submit_nappi("Poista")}}
</form>


<p></p>
<ul>
    <li><label>Prioriteetti: </label> {{muistutus.prioriteetti}}</li>
    <li><label>Kategoria: </label> {{muistutus.kategoria}}</li>
    <li><label>Info: </label> {{muistutus.info}}</li>

    {% if muistutus.suoritettu %}
    <li>Suoritettu</li>
    {% else %}
    <li>Kesken</li>
    {% endif %}
</ul>

<h3>Muistutus:</h3>
<p class="lead">{{muistutus.muistutus}}</p>


{% if linkit %}
<h4>Linkit</h4>

<p>
    {{macro.linkki_nappi("#{base_path}/muistutus/#{muistutus.mid}/lisaalinkki", "Uusi linkki")}}
</p>

<table class="table">
    <thread>
        <th>Info</th>
        <th></th>
    </thread>
    <tbody>
        {% for linkki in linkit %}
        <tr>
            <td><a href="http://{{linkki.osoite}}">{{linkki.teksti}}</a></td>
            <td align="right">
                <form method="post" action="{{base_path}}/muistutus/{{muistutus.mid}}/poistalinkki">
                    <input name="lid" value="{{linkki.lid}}" type="hidden">
                    <!-- <input name="mid" value="{{muistutus.mid}}" type="hidden"> -->
                    {{macro.linkki_nappi("#{base_path}/muistutus/#{muistutus.mid}/linkki/#{linkki.lid}/muokkaa", "Muokkaa")}}
                    {{macro.submit_nappi("Poista")}}
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
