#main-container{
    max-width: 1200px;
    padding: 10px 25px;
    margin: 0px auto;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0px auto;
}

#dark-theme{
    background-color: #222;
    color: #bdbdbd;
}

#black-theme{
    background-color: #000; 
    border-color: #000;
}

.custom-button{
    background-color: #000;
    border-color: #000;
    text-decoration-color: #bdbdbd;
    border-radius: 24px;
}

#dark-form{
    color: #000; 
    background: #333; 
    border: #000;
}
